<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="skin_care.Properties.Settings.skin_cilinicConnectionString"
            connectionString="Data Source=DESKTOP-GG264VN\RIDH;Initial Catalog=skin_cilinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>