<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Skincare_Management_System.Properties.Settings.skin_cilinicConnectionString"
            connectionString="Data Source=DESKTOP-HPU3DFE;Initial Catalog=skin_cilinic;username=sa;password=1234567890;"
            providerName="System.Data.SqlClient" />
        <add name="Skincare_Management_System.Properties.Settings.skin_cilinicConnectionString1"
            connectionString="Data Source=DESKTOP-HPU3DFE;Initial Catalog=skin_cilinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>